{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "curly": [0],
    "no-underscore-dangle": [0],
    "prefer-const": [2]
  }
}
